.header,.footer,.container1{
  background-color:#1F2937;
  }
.header{
  display:flex;
  padding:10px 100px;
  justify-content:space-between;
}
.leftpart{
  font-size:24px;
  color:#F9FAF8
}
.rightpart{
  font-size:18px;
  color:#E5E7EA;
}
.container1{
  display:flex;
  padding:10px 100px;	
}
.container1-heading{
  font-size:48px;
  font-weight:900;
  color:#F9FAF8;
}
.text{
  font-size:18px;
  color:#E5E7EB;
}
.container2{
  display:flex;
  flex-direction:column;
  padding:20px;
  align-items:center;
}
.container2-heading{
  font-size:36px;
  font-weight:900;
  color:#1F2937;
}
.cards{
  display:flex;
  gap:10px;
}
.container3{
  background-color:#E5E7EB;
}
.quote{
  padding:40px;
  font-size:36px;
  font-weight:10;
  font-style:italic;
}
.written-by{
  display:flex;
  flex-direction:row-reverse;
  font-style:normal;
  font-size:24px;
  font-weight:900;
 }
.container4{
  display:flex;
  background-color:#3882F6;
  margin:100px;
  gap:32px;
  padding:40px;
}
.container411{
  font-size:24px;
  color:#F9F4F8;
  font-weight:bold;
}
.container412{
  font-size:18px;
}
.container42{
  display:flex;
  justify-content:center;
  align-items:center;
}
.footer{
  padding:20px;
  display:flex;
  justify-content:center;
  align-items:center;
}
